.header {
  margin-bottom: 20px;
}

.menu-icon {
	background-color: red;
	
}

.avatar-img {
	background-color: #a9133d;
	border-radius: 50%;
	width:40px;
	height: 40px;
}

.list-class {
	padding: 0px !important;
}

.topBarMenu > div:first-child {
	position: fixed !important;
	top: 0 ;
}

.container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.card-header {
	padding: 24px !important;
}

span.link + div {
	padding: 0px !important;
}

span.link div div div {
	margin-left: -18px !important;
}

span.nested-link div div div {
	margin-left: 40px !important;
}
a:active {
	text-decoration: none !important;
}

